.masthead .header-content .title {
    color: #0B3049;
    text-shadow: .04em .03em 0 #218690, .08em .06em 0 #E5D948, .12em .09em 0 #F04E51;
    font-weight: bold;
}

#doc .container {
    display: flex;
    justify-content: center;
}

#doc h2 {
    font-weight: 400;
    font-size: 2.5em;
}

#doc h2 .chevron {
    color: #218690;
}

#doc .badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#doc div.splitter {
    margin: 1em 0;
    height: 2px;
    width: 60%;
    align-self: center;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 2em;
}

#doc .doc-child-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    margin: 0 2em;
    max-width: 20vw;
    background-color: #fff;
    margin-top: 1.5em;
    padding: 2em .5em;
    padding-bottom: 0;
    border-radius: .4em;
}

#doc .doc-child-ctn img {
    width: 5vw;
}

#doc .doc-child-ctn h3 {
    color: #218690;
    margin-top: .6em;
    margin-bottom: 0;
    font-size: 2em;
    font-weight: bold;
}

@media (max-width: 992px) {
    .masthead .header-content h1 {
        text-shadow: none;
        font-weight: 400;
        color: #0B3049;
    }

    #doc h2 {
        font-weight: 400;
        font-size: 2em;
    }

    #doc .doc-child-ctn {
        max-width: 90vw;
        margin-top: 4em;
    }

    #doc .doc-child-ctn img {
        width: 30vw;
    }

    #contact h2 {
        font-size: 2em;
    }

}