@font-face {
    font-family: "comfortaa";
    src: url('../fonts/Comfortaa-Regular.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
#mainNav {
    font-family: "comfortaa", 'Muli', 'Helvetica', 'Arial', 'sans-serif' !important;
}

.page-icon img {
    width: 13vw;
}

a {
    transition: all .4s;
}

a:hover {
    transform: translateY(-.3em);
    text-decoration: none;
}

.clickable {
    cursor: pointer;
}

.btn {
    transition: all .4s;
}

.btn:hover {
    transform: scale(1.08);
}

#workingInProgressModal p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

#workingInProgressModal p i {
    margin-right: 1em;
    margin-bottom: 1em;
}

#mainNav .navbar-nav>li>a {
    color: #0B3049;
    font-weight: bold;
}

#mainNav.navbar-shrink {
    box-shadow: 0 0 10px #0B3049;
}

#mainNav .navbar-nav>li>a.active {}

#mainNav .navbar-nav>li>a:hover {
    color: #E5D948 !important;
}

header h1 {
    text-shadow: 2px 1px 0 #0B3049;
}

header.masthead {
    background: url(../img/bg-pattern.png), linear-gradient(to bottom, #fff, #0B3049);
}

.social-gitlab {
    background-color: #E14229;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
}

footer {
    background-color: #fff;
}

footer,
footer ul li a {
    color: #0B3049;
}

@media (max-width: 992px) {

    #workingInProgressModal p {
        flex-direction: column;
        text-align: center;
    }

    .page-icon img {
        width: 35vw;
    }

    #mainNav .navbar-nav>li>a {
        font-size: 13px;
        color: #0B3049;
    }

    #mainNav .navbar-nav>li>a:focus {
        color: rgba(255, 255, 255, 0.7);
    }
}